.modal {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
}

.show {
    display: block;
}