.todo{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 20px 50px;
   }
  
    .handle{
        display: flex;
        margin: 5px 20px;
        flex-direction: column;
    .todo-list-item1{
        margin: 10px 20px;
    }    
    .show{
        margin: 5px 20px;
        font-weight: bold;
        
    }
    .remove{
        margin: 5px 20px;
        font-weight: bold;
    }
    .bt{
        display: flex;
    }   
}
.todo-list-item{
    margin: auto 20px;
    font-size: 40px;
    font-weight: bold;
}