.main-form{
    margin: 20px 50px;
    .input{
        input{
            margin: 5px auto;
            padding: 10px 20px;
            width: 25%;
            }
         }     
    .button button{
        margin: 20px auto;
        padding: 10px 20px;
        font-weight: bold;
        font-size: 20px;
    }
}